@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
    --ff: 'IBM Plex Sans', sans-serif;

    --fs-m: 1.6rem;
    --fs-l: 4rem;

    --fw-r: 400;
    --fw-b: 700;

    --p: 2.4rem;

    --mb-s: 1.6rem;
    --mb-r: 2rem;
    --mb-l: 6.4rem;

    --br: 1.2rem;

    --primary-clr: #FA7453;
    --primary-clr-light: #FFB964;
    --secondary-clr:  #66E2DC;
    --neutral-clr-light: #FCFAF9;
    --neutral-clr-dark: #191826;
}

*,
body {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    color: var(--neutral-clr-dark);
    font-size: 10px;
}

body {
    width: 100vw;
    min-height: 100vh;

    background-image: url("./assets/bg-main-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top -490px right -500px;
}

header {
    margin-bottom: var(--mb-s);
}

header, section, footer {
    padding: var(--p);
}

/*********** Container 1 ***************/
h1 {
    font-size: var(--fs-l);
    line-height: calc(var(--fs-l) + .8rem);
    font-weight: var(--fw-b);
    letter-spacing: -.045rem;
    margin-bottom: var(--mb-r);
}

p {
    font-size: var(--fs-m);
    line-height: calc(var(--fs-m) + 1rem);
    font-weight: var(--fw-r);
}

/*********** Container 2 ***************/
.design-container {
    width: 100vw;
    height: 60rem;
    background-color: var(--neutral-clr-dark);
    border-radius: var(--br);
    margin-top: 35%;

    position: relative;
}

.design-container img {
    position: absolute;
}

.img-back {
    width: 75%;
    top: 0;
    left: calc(50vw - 75%/2);
}

.img-front {
    width: 55%;
    right: calc(50vw - 55%/2);
    top: -15%;
}