@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
    --ff: 'IBM Plex Sans', sans-serif;

    --primary-clr: #FA7453;
    --primary-clr-light: #FFB964;
    --secondary-clr:  #66E2DC;
    --neutral-clr-light: #FCFAF9;
    --neutral-clr-dark: #191826;
}

*,
body {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

body {
    font-size: 10px;
}