@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
    /* Color schema */
    --primary-100: #FA7453;

    --secondary-100: #FCFAF9;
    --secondary-300: #191826;
    --secondary-500: #66E2DC;
    --secondary-700: #FFB964;

    /* Typography */
    /* Font-weights */
    --bold-weight: 700;
    --normal-weight: 400;
    /* Font-size */
    --h-1: 88px;
    --h-2: 40px;
    --body-1: 20px;
    --body-2: 16px;

    /* Widths */
    --desktop-width: 1440px;
    --tablet-width: 768px;
    --mobile-width: 375px;
}

/*********** Resets ***************/
*, 
body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    color: var(--secondary-300);
}

body {
    background-image: url("./assets/bg-main-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 60px;
}

/*********** Header ***************/
header {
    width: 90vw;
    max-width: 1110px;
    position: relative;
}

header .logo {
    display: flex;
    align-items: flex-start;
    margin-bottom: 100px;
}

header .pattern-img {
    position: absolute;
    top: -120px;
    left: 950px;
}

/*********** Container 1 ***************/
.intro-container {
    width: 90vw;
    max-width: 1110px;
    margin-bottom: 320px;
}

.intro-container .title {
    max-width: 1015px;
    font-size: var(--h-1);
    line-height: 88px;
    letter-spacing: -1px;
    margin-bottom: 40px;
}

.intro-container .subtitle {
    max-width: 825px;
    font-size: var(--body-1);
    line-height: 34px;
    font-weight: var(--normal-weight);
}

/*********** Container 2 ***************/
.design-container {
    width: 90vw;
    max-width: 1110px;
    height: 600px;
    background-color: var(--secondary-300);
    border-radius: 12px;
    margin-bottom: 200px;
    position: relative;
}

.pattern-img {
    position: absolute;
    left: 336px;
    bottom: 172px;
}

.app-img {
    position: absolute;
    left: 102px;
    bottom: 171px;
    width: 312px;
}

.download-container {
    position: absolute;
    top: 90px;
    right: 95px;
    width: 446px;
    background-color: var(--primary-100);
    border-radius: 12px;
    padding: 57px;
    color: var(--secondary-100);
}

.download-container .title {
    font-size: var(--h-2);
    line-height: 52px;
    margin-bottom: 22px;
    font-weight: var(--bold-weight);
}

.download-container .subtitle {
    font-size: var(--body-1);
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: var(--normal-weight);
}

.download-container .price {
    font-size: 65px;
    line-height: 52px;
    font-weight: var(--bold-weight);
    display: flex;
    align-items: center;
}

.download-container .price span {
    font-size: var(--body-1);
    line-height: 32px;
    letter-spacing: -0.2px;
    font-weight: var(--normal-weight);
    margin: 16px;
}

.download-container .buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.download-container .buttons button {
    height: 61px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    line-height: 32px;
    font-weight: var(--bold-weight);
    letter-spacing: -0.18px;
}

.download-container .buttons .ios {
    margin: 16px 0 16px 0;
    background-color: var(--secondary-300);
    color: var(--secondary-100);
}

.download-container .buttons .ios::before {
    content: url(./assets/icon-apple.svg);
    padding-right: 5px;
}

.download-container .buttons .android {
    background-color: var(--secondary-100);
    color: var(--secondary-300);
}

.download-container .buttons .android::before {
    content: url(./assets/icon-android.svg);
    padding-right: 5px;
}

/*********** Footer ***************/
.contact-container {    
    width: 90vw;
    max-width: 1110px;    
    display: flex;    
    align-items: center;
    justify-content: space-between;
}

.company-container {
    display: flex; 
    align-items: flex-start;   
}

.company-container .text {
    font-weight: var(--normal-weight);
    font-size: var(--body-2);
    line-height: 26px;
    width: 420px;
    margin-left: 10%;
}

.company-container .text span {
    font-weight: var(--bold-weight);
}

.icon-container .facebook, .icon-container .instagram, .icon-container .twitter {
    padding: 5px;
}